.booking_container {
  border: solid black 2px;
  border-radius: 10px;
  background-color: rgb(187, 187, 187);
  display: grid;
  grid-template-columns: repeat(10, 7vw);
  grid-template-rows: 20px repeat(12, 6vh);
  gap: 1vh 1vw;
  width: 80vw;
  margin: 10px auto;
  padding: 0px;
}

.booking_lines {
  border-top: solid black 1px;
}

.booking_title {
  grid-row: 1;
  font-size: 2vw;
  margin: 0px auto;
}

.booking_time {
  height: 100%;
  /* border-top: solid black 1px; */
  /* border-radius: 10px; */
  margin: 0;
}

.booking {
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 1px 1px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.booking_student_name {
  margin: 2px;
  font-size: 1vw;
  font-weight: normal;
}

.booking_buttons_container {
  background-color: black;
  padding: 5px 0px;
  border-radius: 0px 0px 10px 10px;
}

.booking_button {
  border: none;
  border-radius: 10px;
  padding: 2px 10px;
  margin: 0px 2px;
  opacity: 0.75;
  font-size: 1.2vw;
  color: white;
}

.booking_button:hover {
  opacity: 1;
}

.good {
  background-color: green;
}

.bad {
  background-color: red;
}
