.booking_container {
  border: solid black 2px;
  border-radius: 10px;
  background-color: rgb(187, 187, 187);
  display: grid;
  grid-template-columns: repeat(10, 100px);
  grid-template-rows: 20px repeat(12, 5vh);
  gap: 10px 10px;
  width: 80%;
  margin: 0px auto;
  padding: 0px;
}

.booking_title {
  grid-row: 1;
  margin: 0px auto;
}

.booking {
  color: white;
  border-radius: 10px;
  /* border: solid black 2px; */
  box-shadow: 1px 1px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.booking_student_name {
  margin: 2px;
  font-size: 14px;
  font-weight: normal;
}

.booking_buttons_container {
  background-color: black;
  padding: 5px 0px;
}

.booking_button {
  border: none;
  border-radius: 10px;
  padding: 2px 10px;
  margin: 0px 2px;
  opacity: 0.75;
  font-size: 20px;
  color: white;
}

.booking_button:hover {
  opacity: 1;
}

.good {
  background-color: green;
}

.bad {
  background-color: red;
}
