.App {
  text-align: center;
}

h1 {
  background-color: blue;
  color: white;
}

button {
  margin: 10px;
  padding: 20px;
  background-color: white;
  border: solid blue 2px;
  border-radius: 10px;
  color: blue;
  box-shadow: 2px 2px 2px black;
}

button:hover {
  background-color: blue;
  color: white;
}

.student_file {
  background-color: gray;
  color: white;
  margin: 10px auto;
  padding: 10px;
  width: 50%;
  border: solid black 2px;
  border-radius: 10px;
}
