* {
  /* border: solid red 1px; */
}

.App {
  text-align: center;
}

.navigation {
  background-color: blue;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.nav_button {
  background-color: white;
  color: blue;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}

.selected {
  background-color: red;
}
