.App {
  text-align: center;
}

.hide {
  display: none;
}

.navigation {
  background-color: blue;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.nav_button {
  background-color: white;
  color: blue;
  border: white solid 1px;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}

.nav_button:hover {
  background-color: rgb(190, 190, 190);
}

.selected {
  background-color: blue;
  color: white;
}

.button_container {
  margin: auto;
  width: 50%;
  background-color: darkgray;
  border: dashed black 2px;
  padding: 30px;
}

.button_container button {
  margin: 5px 40px;
  padding: 10px;
}

.log_container {
  height: 80vh;
  overflow-y: scroll;
}

.log_table {
  width: 100%;
  border: black solid 1px;
  margin: auto;
  border-collapse: collapse;
  background-color: rgb(80, 80, 80);
  color: white;
  font-family: monospace;
  font-size: larger;
  text-align: left;
}

tr:nth-child(even) {
  background-color: rgb(61, 61, 61);
}

.log_table tr td {
  border: black solid 1px;
  padding: 5px 10px;
}

.student_file_container {
  margin: auto;
  width: 65%;
  border: black solid 2px;
  height: 70vh;
  overflow-y: scroll;
  text-align: left;
}

.student_file {
  background-color: grey;
  margin: 5px 40px;
  border: solid black 1px;
  border-radius: 10px;
}

.blocked {
  background-color: red;
}

.active {
  background-color: green;
}
